<div class="container">
    <mat-card class="card">
      <mat-card-title class="title">About This Project</mat-card-title>
      <mat-card-content class="content">
        <p class="mb-4">This project was created to monitor voltage data from batteries using Angular for the frontend and Python - FastAPI for the backend.</p>
        <p class="mb-4">
          <span class="font-bold">Challenges faced:</span> One of the main challenges was parsing and processing the complex JSON structure from the measurements file. 
          Another challenge was ensuring proper error handling and data flow between the frontend and backend.
        </p>
        <p class="mb-4">
          We used standalone components in Angular to focus more on the business logic and reduce the constraints associated with the 
          traditional NgModule approach. This decision allowed for a more streamlined development process, as it eliminated the need for 
          excessive modularization that can sometimes be a challenge when using Angular's module system. Standalone components provided 
          a more direct and intuitive way to build our application, making it easier to reason about component dependencies and imports.
        </p>
        <p class="mb-4"><span class="font-bold">Time taken to complete:</span> Approximately 8 hours.</p>
        <p class="mb-4">
          <span class="font-bold">Shortcomings and next steps:</span> The current implementation could be improved by adding more robust error handling, implementing 
          unit tests, and enhancing the UI with more interactive features. Future steps could include adding real-time data updates, 
          implementing data caching strategies, and optimizing the backend for larger datasets.
        </p>
      </mat-card-content>
    </mat-card>
  </div>